.recent-posts-section {
  background-color: #fff;
  color: #333;
  padding: 60px 20px;
}

.recent-posts-container {
  max-width: 1200px;
  margin: 0 auto;
}

.recent-posts-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 90px;
  color: #d28e01;
  font-weight: bold;
}

/* GRID */
.recent-posts-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

@media (max-width: 992px) {
  .recent-posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .recent-posts-grid {
    grid-template-columns: 1fr;
  }
}

/* CARD */
.recent-post-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.106);
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
  min-height: 200px;
}

.recent-post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #d28e01;
}

.recent-post-card:hover .recent-post-title {
  color: #d28e01;
}

/* IMAGE LEFT */
.recent-post-image {
  flex: 1;
  min-width: 40%;
}

.recent-post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO RIGHT */
.recent-post-info {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* TITLE */
.recent-post-title {
  font-size: 2rem;
  line-height: 1.4;
  margin: 0 0 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s;
  font-weight: bold;
}

/* TEXT */
.recent-post-text {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #555;
  display: -webkit-box;
  text-align: left;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 15px;
  text-overflow: ellipsis;
}

/* META */
.recent-post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #777;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: auto;
}

.recent-post-meta .recent-post-author {
  font-weight: 500;
  color: #d28e01;
}

/* SEE MORE BUTTON */
.recent-post-see-more-container {
  text-align: center;
  margin-top: 50px;
}

.recent-post-see-more-btn {
  background: white;
  color: #d28e01;
  border: 2px solid #d28e01;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  text-decoration: none;
}

.recent-post-see-more-btn:hover {
  background: #d28e01;
  color: white;
  border: none;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* RESPONSIVE FIXES */
@media (max-width: 768px) {
  .recent-post-card {
    flex-direction: column;
  }

  .recent-post-image {
    min-width: 100%;
    height: 200px;
  }
}
